<style>
    
    [data-section-id='{{ section.id }}'] .slide-content {
        background-color: {{ section.settings.color_content_bg }};
    }

    [data-section-id='{{ section.id }}'] .slide-order-number span {
        color: {{ section.settings.color_order_number }};
    }

    [data-section-id='{{ section.id }}'] .slide-heading {
        color: {{ section.settings.color_heading }};
    }

    [data-section-id='{{ section.id }}'] .slide-text {
        color: {{ section.settings.color_text }};
    } 

    [data-section-id='{{ section.id }}'] .slick-arrow {
        border-color: {{ section.settings.color_arrow_border }} !important;
    }

    [data-section-id='{{ section.id }}'] .slick-arrow svg {
        fill: {{ section.settings.color_arrow }} !important;
        color: {{ section.settings.color_arrow }} !important;
    }
</style>