<div id="login-dropdown" class="login-dropdown">
    <div class="login-header">
        <h2 class="login-title">{{ 'customer.login.title1' | t }}</h2>
        <a href="javascript:void(0)" class="close" data-close-login-dropdown-pc aria-label="close"><span aria-hidden="true">&#215;</span></a>
        <a href="javascript:void(0)" class="close" data-close-login-dropdown aria-label="close"><span aria-hidden="true">&#215;</span></a>
    </div>
    <div class="login-content">
        <form accept-charset="UTF-8" action="/account/login" method="post">
            <input name="form_type" type="hidden" value="customer_login" />
            <input name="utf8" type="hidden" value="✓" />
            <div class="login-form">
                <p class="intro">{{ 'customer.login.intro_1' | t }}</p>
                <div class="form-field">
                    <label class="form-label" for="customer_email">
                        {{ 'customer.login.email' | t }}
                    </label>
                    <input id="customer_email" class="form-control" type="email" value="" name="customer[email]" placeholder="{{ 'customer.login.email' | t }}" >
                </div>
                <div class="form-field">
                    <label class="form-label" for="customer_password">
                        {{ 'customer.login.password' | t }}
                    </label>
                    <input id="customer_password" class="form-control" type="password" value="" placeholder="{{ 'customer.login.password' | t }}" name="customer[password]" >
                </div>
                <div class="form-actions">
                    <input type="submit" class="btn btn--secondary" value="{{ 'layout.customer.log_in' | t }}">
                    <a class="forgot-password" href="/account/login#recover" aria-label="forgot password">
                        {{ 'customer.login.forgot_password' | t }}
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="login-footer">
        <p class="intro">{{ 'customer.login.intro_2' | t }}</p>
        <a class="btn btn--secondary-accent" href="/account/register" aria-label="register">{{  'customer.register.submit' | t }}</a>
    </div>
</div>