{% if block_style == "style_1" %}
    <div class="cateArea colLeft">
        <ul class="site-nav-dropdowns columns-3">
            {% for l in linklists[link_child].links %}
            <li class="menu-lv-2 {% if linklists[link_child] != empty %} dropdown{% endif %}">
                <p class="nav-action{%if linklists[link_child] != empty %} menu__moblie{% else %} menu__moblie_end{% endif %}">
                    <a href="{{ l.url }}" class="current link" aria-label="link">
                        {{ l.title }}
                    </a>
                    {% if linklists[l.handle] != empty %}
                        <span class="icon-dropdown" data-toggle-menu-mb>&#10095;</span>
                    {% endif %}
                </p>
                {% if linklists[l.handle] != empty %}
                <div class="sub-menu-mobile ">
                    <div class="menu-mb-title">
                        <span class="icon-dropdown">&#10094;</span>
                        {{ l.title }}
                    </div>
                    <ul class="site-nav-dropdown">
                        {% for child_l in linklists[l.handle].links %}
                        <!-- Menu level 3 -->
                        <li class="menu-lv-3">
                            <a href="{{ child_l.url }}" class="nav-action menu__moblie_end {% if child_l.active %}current{% endif %}" aria-label="link">
                                <span>{{ child_l.title }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="imageArea colRight">
        <div class="imgList">
            <div class="imgItem imgLeft">
                {% if title_featured_product != blank %}
                <h3 class="title">
                    {{ title_featured_product }}
                </h3>
                {% endif %}
                <div class="featuredProductCarousel">
                    {% if featured_product != blank %}
                        <div class="items">
                            {% render 'product-card-grid-2', product : product %}
                        </div>
                    {% else %}
                        <div class="items">
                            <div class="product-card">
                                <div class="product-image">
                                    <a class="product-link" href="#">
                                        {{ 'product-2' |  placeholder_svg_tag: 'placeholder-svg' }}
                                    </a>
                                </div>
                                <div class="product-content">
                                    <h4 class="product-title">{{ 'homepage.onboarding.product_title' | t }}</h4>
                                    {% assign price = 1999 %}
                                    <div class="product-price" data-price>
                                        <span class="price-item price-item--regular" data-regular-price>
                                            {{ price | money }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if featured_product_2 != blank %}
                        <div class="items">
                            {% render 'product-card-grid-2', product : product_2 %}
                        </div>
                    {% endif %}
                    {% if featured_product_3 != blank %}
                        <div class="items">
                            {% render 'product-card-grid-2', product : product_3 %}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if banner_first_style != blank %}
                <div class="imgItem imgRight text-center">
                    {% if link_banner_first_style %}
                        <a href="{{ link_banner_first_style }}" aria-label="link">
                            <img class="lazyload" src="{{ 'loading.svg' | asset_url }}" data-src="{{ banner_first_style | img_url : '270x' }}" alt="" data-image>
                        </a>
                    {% else %}
                        <img class="lazyload" src="{{ 'loading.svg' | asset_url }}" data-src="{{ banner_first_style | img_url : '270x' }}" alt="" data-image>
                    {% endif %}
                </div>
            {% else %}
                <div class="imgItem imgRight text-center">
                    <span class="recommended_size">270x270</span>
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
            {% endif %}
        </div>
    </div>
{% elsif block_style == "style_2" %}
    <div class="cateArea colLeft">
        <ul class="site-nav-dropdowns columns-3">
            {% for l in linklists[link_child].links %}
            <li class="menu-lv-2 {% if linklists[link_child] != empty %} dropdown{% endif %}">
                <p class="nav-action{%if linklists[link_child] != empty %} menu__moblie{% else %} menu__moblie_end{% endif %}">
                    <a href="{{ l.url }}" class="current link" aria-label="link">
                        {{ l.title }}
                    </a>
                    {% if linklists[l.handle] != empty %}
                        <span class="icon-dropdown" data-toggle-menu-mb>&#10095;</span>
                    {% endif %}
                </p>
                {% if linklists[l.handle] != empty %}
                <div class="sub-menu-mobile ">
                    <div class="menu-mb-title">
                        <span class="icon-dropdown">&#10094;</span>
                        {{ l.title }}
                    </div>
                    <ul class="site-nav-dropdown">
                        {% for child_l in linklists[l.handle].links %}
                        <!-- Menu level 3 -->
                        <li class="menu-lv-3">
                            <a href="{{ child_l.url }}" class="nav-action menu__moblie_end {% if child_l.active %}current{% endif %}" aria-label="link">
                                <span>{{ child_l.title }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="imageArea colRight">
        <div class="imgList">
            {% if banner_first_style != blank %}
                <div class="imgItem imgLeft">
                    {% if link_banner_first_style %}
                        <a href="{{ link_banner_first_style }}" aria-label="link">
                            <img class="lazyload" src="{{ 'loading.svg' | asset_url }}" data-src="{{ banner_first_style | img_url : '270x' }}" alt="" data-image>
                        </a>
                    {% else %}
                        <img class="lazyload" src="{{ 'loading.svg' | asset_url }}" data-src="{{ banner_first_style | img_url : '270x' }}" alt="" data-image>
                    {% endif %}
                </div>
            {% else %}
                <div class="imgItem imgLeft">
                    <span class="recommended_size">270x285</span>
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
            {% endif %}
            {% if banner_second_style != blank or banner_third_style != blank %}
                <div class="imgItem imgRight">
                    {% if banner_second_style != blank %} 
                        {% if link_banner_second_style %}
                            <div class="imgItem1">
                                <a href="{{ link_banner_second_style }}" aria-label="link">
                                    <img class="lazyload" src="{{ 'loading.svg' | asset_url }}" data-src="{{ banner_second_style | img_url : '270x' }}" alt="" data-image>
                                </a>
                            </div>
                        {% else %}
                            <img class="lazyload" src="{{ 'loading.svg' | asset_url }}" data-src="{{ banner_second_style | img_url : '270x' }}" alt="" data-image>
                        {% endif %}
                    {% else %}
                        <div class="imgItem1">
                            <span class="recommended_size">270x135</span>
                            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                        </div>
                    {% endif %}
                    {% if banner_third_style != blank %}   
                        {% if link_banner_third_style %}
                            <div class="imgItem1">
                                <a href="{{ link_banner_third_style }}" aria-label="link">
                                    <img class="lazyload" src="{{ 'loading.svg' | asset_url }}" data-src="{{ banner_third_style | img_url : '270x' }}" alt="" data-image>
                                </a>
                            </div>
                        {% else %}
                            <img class="lazyload" src="{{ 'loading.svg' | asset_url }}" data-src="{{ banner_third_style | img_url : '270x' }}" alt="" data-image>
                        {% endif %}
                    {% else %}
                    <div class="imgItem1">
                        <span class="recommended_size">270x135</span>
                        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                    {% endif %}
                </div>
            {% else %}
                <div class="imgItem imgRight">
                    <div class="imgItem1">
                        <span class="recommended_size">270x135</span>
                        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                    </div> 
                    <div class="imgItem1">
                        <span class="recommended_size">270x135</span>
                        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="mega_top_brand">
      <div class="container">
      <div class="brand-content">
        <div class="mega-brand-des">
          <p class="title">{{ title_top_brand }}</p>
          <a class="link" href="{{link_top_brand}}">{{ text_link_top_brand }}</a>
        </div>
        <div class="mega-brand-image">
          <ul class="items">
            <li>
              {% if banner_brand_top_1 != blank %}
              <a class="animate_hvrbr" href="{{ link_brand_top_1 }}" title="">
                <img class="lazyload" src="{{ 'loading.svg' | asset_url }}" data-src="{{ banner_brand_top_1 | img_url : '154x' }}" alt="" data-image>
              </a>
              {% else %}
                <div class="imgItem">
                    <span class="recommended_size">154x64</span>
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              {% endif %}
            </li>
            <li>
              {% if banner_brand_top_2 != blank %}
              <a class="animate_hvrbr" href="{{ link_brand_top_2 }}" title="">
                <img class="lazyload" src="{{ 'loading.svg' | asset_url }}" data-src="{{ banner_brand_top_2 | img_url : '154x' }}" alt="" data-image>
              </a>
              {% else %}
                <div class="imgItem">
                    <span class="recommended_size">154x64</span>
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              {% endif %}
            </li>
            <li>
              {% if banner_brand_top_3 != blank %}
              <a class="animate_hvrbr" href="{{ link_brand_top_3 }}" title="">
                <img class="lazyload" src="{{ 'loading.svg' | asset_url }}" data-src="{{ banner_brand_top_3 | img_url : '154x' }}" alt="" data-image>
              </a>
              {% else %}
                <div class="imgItem">
                    <span class="recommended_size">154x64</span>
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              {% endif %}
            </li>
            <li>
              {% if banner_brand_top_4 != blank %}
              <a class="animate_hvrbr" href="{{ link_brand_top_4 }}" title="">
                <img class="lazyload" src="{{ 'loading.svg' | asset_url }}" data-src="{{ banner_brand_top_4 | img_url : '154x' }}" alt="" data-image>
              </a>
              {% else %}
                <div class="imgItem">
                    <span class="recommended_size">154x64</span>
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              {% endif %}
            </li>
            <li>
              {% if banner_brand_top_5 != blank %}
              <a class="animate_hvrbr" href="{{ link_brand_top_5 }}" title="">
                <img class="lazyload" src="{{ 'loading.svg' | asset_url }}" data-src="{{ banner_brand_top_5 | img_url : '154x' }}" alt="" data-image>
              </a>
              {% else %}
                <div class="imgItem">
                    <span class="recommended_size">154x64</span>
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              {% endif %}
            </li>
            <li>
              {% if banner_brand_top_6 != blank %}
              <a class="animate_hvrbr" href="{{ link_brand_top_6 }}" title="">
                <img class="lazyload" src="{{ 'loading.svg' | asset_url }}" data-src="{{ banner_brand_top_6 | img_url : '154x' }}" alt="" data-image>
              </a>
              {% else %}
                <div class="imgItem">
                    <span class="recommended_size">154x64</span>
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
      </div>
    </div>
{% elsif block_style == "style_3" %}
    <div class="cateArea colLeft">
        <ul class="site-nav-dropdowns columns-1">
            {% for l in linklists[link_child].links %}
            <li class="menu-lv-2 {% if linklists[link_child] != empty %} dropdown{% endif %}">
                <p class="nav-action{%if linklists[link_child] != empty %} menu__moblie{% else %} menu__moblie_end{% endif %}">
                    <a href="{{ l.url }}" class="current link" aria-label="link">
                        {{ l.title }}
                    </a>
                    {% if linklists[l.handle] != empty %}
                        <span class="icon-dropdown" data-toggle-menu-mb>&#10095;</span>
                    {% endif %}
                </p>
                {% if linklists[l.handle] != empty %}
                <div class="sub-menu-mobile ">
                    <div class="menu-mb-title">
                        <span class="icon-dropdown">&#10094;</span>
                        {{ l.title }}
                    </div>
                    <ul class="site-nav-dropdown">
                        {% for child_l in linklists[l.handle].links %}
                        <!-- Menu level 3 -->
                        <li class="menu-lv-3">
                            <a href="{{ child_l.url }}" class="nav-action menu__moblie_end {% if child_l.active %}current{% endif %}" aria-label="link">
                                <span>{{ child_l.title }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="imageArea colRight">
        <div class="imgList">
            {% if banner_first_style != blank %}
                <div class="imgItem imgLeft">
                    {% if link_banner_first_style %}
                        <a href="{{ link_banner_first_style }}" aria-label="link">
                            <img class="lazyload" src="{{ 'loading.svg' | asset_url }}" data-src="{{ banner_first_style | img_url : '270x' }}" alt="" data-image>
                        </a>
                    {% else %}
                        <img class="lazyload" src="{{ 'loading.svg' | asset_url }}" data-src="{{ banner_first_style | img_url : '270x' }}" alt="" data-image>
                    {% endif %}
                </div>
            {% else %}
                <div class="imgItem imgLeft">
                    <span class="recommended_size">270x420</span>
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
            {% endif %}
           
        </div>
    </div>
{% elsif block_style == "style_4" %}
    <div class="cateArea colLeft">
        <ul class="site-nav-dropdowns columns-4">
            {% for l in linklists[link_child].links %}
            <li class="menu-lv-2 {% if linklists[link_child] != empty %} dropdown{% endif %}">
                <p class="nav-action{%if linklists[link_child] != empty %} menu__moblie{% else %} menu__moblie_end{% endif %}">
                    <a href="{{ l.url }}" class="current link" aria-label="link">
                        {{ l.title }}
                    </a>
                    {% if linklists[l.handle] != empty %}
                        <span class="icon-dropdown" data-toggle-menu-mb>&#10095;</span>
                    {% endif %}
                </p>
                {% if linklists[l.handle] != empty %}
                <div class="sub-menu-mobile ">
                    <div class="menu-mb-title">
                        <span class="icon-dropdown">&#10094;</span>
                        {{ l.title }}
                    </div>
                    <ul class="site-nav-dropdown">
                        {% for child_l in linklists[l.handle].links %}
                        <!-- Menu level 3 -->
                        <li class="menu-lv-3">
                            <a href="{{ child_l.url }}" class="nav-action menu__moblie_end {% if child_l.active %}current{% endif %}" aria-label="link">
                                <span>{{ child_l.title }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="imageArea colRight">
        <div class="imgList">
            {% if banner_first_style != blank %}
                <div class="imgItem imgLeft">
                    {% if link_banner_first_style %}
                        <a href="{{ link_banner_first_style }}" aria-label="link">
                            <img class="lazyload" src="{{ 'loading.svg' | asset_url }}" data-src="{{ banner_first_style | img_url : '630x' }}" alt="" data-image>
                        </a>
                    {% else %}
                        <img class="lazyload" src="{{ 'loading.svg' | asset_url }}" data-src="{{ banner_first_style | img_url : '630x' }}" alt="" data-image>
                    {% endif %}
                </div>
            {% else %}
                <div class="imgItem imgLeft">
                    <span class="recommended_size">630x345</span>
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
            {% endif %}
           
        </div>
    </div>
{% endif %}

