<!-- snippet/product-price.liquid -->
{% if variant.title %}
    {%- assign compare_at_price = variant.compare_at_price -%}
    {%- assign price = variant.price -%}
    {%- assign available = variant.available -%}
{% else %}
    {%- assign compare_at_price = 1999 -%}
    {%- assign price = 1999 -%}
    {%- assign available = true -%}
{% endif %}

<div class="product-price {% if compare_at_price > price %}price--on-sale{% endif %}" data-price>
    {% if compare_at_price > price %}
        <span class="price-item price-item--regular" data-regular-price>
            {{ compare_at_price | money }}
        </span>
        <span class="price-item price-item--sale" data-sale-price>
            {{ price | money }}
        </span>
    {% else %}
        <span class="price-item price-item--regular" data-regular-price>
            {{ price | money }}
        </span>
        <span class="price-item price-item--sale" data-sale-price></span>
    {% endif %}
</div>