{% if column1 == 2 %}
    {%- assign img_url = product.featured_image | img_url: '570x420' -%}
    {%- assign img_url_1 = product.images[0].src | img_url: '570x420' -%}
    {%- assign img_url_2 = product.images[1].src | img_url: '570x420' -%}
{% elsif column1 == 3 %}
    {%- assign img_url = product.featured_image | img_url: '370x300' -%}
    {%- assign img_url_1 = product.images[0].src | img_url: '370x300' -%}
    {%- assign img_url_2 = product.images[1].src | img_url: '370x300' -%}
{% elsif column1 == 4 %}
    {%- assign img_url = product.featured_image | img_url: '270x220' -%}
    {%- assign img_url_1 = product.images[0].src | img_url: '270x220' -%}
    {%- assign img_url_2 = product.images[1].src | img_url: '270x220' -%}
{% else %}
    {%- assign img_url = product.featured_image | img_url: '270x220' -%}
    {%- assign img_url_1 = product.images[0].src | img_url: '270x220' -%}
    {%- assign img_url_2 = product.images[1].src | img_url: '270x220' -%}
{% endif %}


{%- assign show_image_swap = show_image_swap | default: settings.image_swap -%}
{%- assign show_product_quickview = show_product_quickview | default: settings.show_product_quickview -%}
{%- assign show_product_vendor = show_product_vendor | default: settings.show_product_vendor -%}
{%- assign show_product_title = show_product_title | default: settings.show_product_title -%}
{%- assign show_product_reviews = show_product_reviews | default: settings.show_product_reviews -%}
{%- assign show_product_price = show_product_price | default: settings.show_product_price -%}
{%- assign show_product_variant = show_product_variant | default: settings.show_product_variant -%}
{%- assign show_product_button = show_product_button | default: settings.show_product_button -%}

<div class="{{column1}} product-card product-card-countdown1 {% unless product.available %} product-card--sold-out{% endunless %}" data-product-card >
    <div class="product-image">
        {% if settings.show_wishlist %}
            <a class="product_wishlist wishlist {% if settings.show_wishlist_mb %}wishlist_mb{% endif %}" aria-label="wishlist" data-icon-wishlist href="#" data-product-handle="{{ product.handle }}" data-id="{{ product.id }}">
                <svg class="icon"><use xlink:href="#icon-heart" /></svg>
            </a>
        {% endif %}
        {% render 'product_badges' with product as product, serial: serial %}
        <a class="product-link {% if product.images.size > 1 and show_image_swap %}image-swap{% endif %}" href="{{ product.url | within: collection }}" aria-label="link">
            {% if product.images.size > 1 and show_image_swap %}
                <img class="product-card__img image-one lazyload"
                    src="{{ 'loading.svg' | asset_url }}"
                    data-src="{{ img_url_1 }}"
                    data-sizes="auto" alt="{{ product.images[0].alt }}" data-image>
                <img class="image-two lazyload"
                    src="{{ 'loading.svg' | asset_url }}"
                    data-src="{{ img_url_2 }}"
                    data-sizes="auto" alt="{{ product.images[1].alt }}" data-image>
            {% else %}
                <img class="product-card__img lazyload"
                    src="{{ 'loading.svg' | asset_url }}"
                    data-src="{{ img_url }}"
                    data-sizes="auto" alt="{{ product.featured_image.alt }}" data-image>
            {% endif %}
        </a>
        {% if show_product_quickview %}
            <a class="product-quickview" aria-label="quickview" href="javascript:void(0)" id="{{ product.handle }}" data-quickview>
                {{ 'products.product.quick_view' | t }}
            </a>
        {% endif %}
        {% if product.options.size > 1 %}
            {% render 'product-variant-size', product: product, show_product_variant: show_product_variant %}
        {% endif %}
    </div>
    <div class="product-content">
        {% if show_product_vendor %}
            <div class="product-vendor">
                {{ product.vendor | link_to_vendor }}
            </div>
        {% endif %}
        {% if show_product_title %}
            <h4 class="product-title">
                <a href="{{ product.url | within: collection }}" aria-label="title">{{ product.title }}</a>
            </h4>
        {% endif %}
        {% if show_product_reviews %}
            <div class="product-reviews">
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            </div>
        {% endif %}
        {% if show_product_price %}
            <div class="product-price {% if product.compare_at_price > product.price %}price--on-sale{% endif %}" data-price>
                {% if product.compare_at_price > product.price %}
                    <span class="price-item price-item--regular" data-regular-price>
                        {{ product.compare_at_price | money }}
                    </span>
                    <span class="price-item price-item--sale" data-sale-price>
                        {% if product.price_varies %}
                            {{ 'products.product.from_text_html' | t }}
                        {% endif %}
                        {{ product.price | money }}
                    </span>
                {% else %}
                    <span class="price-item price-item--regular" data-regular-price>
                        {% if product.price_varies %}
                            {{ 'products.product.from_text_html' | t }}
                        {% endif %}
                        {{ product.price | money }}
                    </span>
                    <span class="price-item price-item--sale" data-sale-price></span>
                {% endif %}
            </div>   
        {% endif %}

        {% if product.options.size > 1 %}
            {% render 'product-variant-color', product: product, show_product_variant: show_product_variant %}
        {% endif %}

        {% if product.available %}
            {% if product.options_with_values.size <= 1 %}
            {% endif %}
        {% endif %}
        <div class="product-card__error-message product-form__error-message-wrapper product-form__error-message-wrapper--hidden product-card__error-message--{{ product.id }}"
        data-error-message-wrapper role="alert">
            <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
            <svg class="icon"><use xlink:href="#icon-error" /></svg>
            <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
        </div>
    </div>
    {% if show_product_button %}
        {% render 'add-to-cart-btn' with product as product, id: 'list-product-form', variant: product.selected_or_first_available_variant %}
    {% endif %}
</div>
