<div class="sidebarBlock sidebarBlock_filter">
    <h5 class="sidebarBlock-heading" data-toggle="collapse1" data-target="#{{ block.id }}">
        <span>{{ block.settings.title }}</span>
        <a href="javascript:void(0)" class="clear text-hover" aria-label="link" {% if has_refined == false %}style="display:none"{% endif %}>
            {{ 'collections.filters.clear' | t }}
        </a>
    </h5>
    <div class="sidebarBlock-content filter-text collapse show" id="{{ block.id }}">
        <ul class="list-tags content {% if block.settings.title == 'Size' %} filter-size{% endif %}">
            {% assign tags = block.settings.list_tags | split: ',' %}
            {% for t in tags %}
                {% assign tag = t | strip %}
                {% assign tag_value = tag | handleize %} 
                {% if current_tags contains tag %}
                    <li>
                        <input type="checkbox" value="{{ tag_value | split: '|' | first }}" checked/>
                        <label>{{ tag | split: '|' | first }}</label>
                    </li>
                {% else %}
                    {% if collection.tags contains tag %} 
                        <li>
                            <input type="checkbox" value="{{ tag_value | split: '|' | first }}"/>
                            <label>{{ tag | split: '|' | first }}</label>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>