<div class="sidebarBlock">
    <h5 class="sidebarBlock-heading"><span >{{ block.settings.title }}</span></h5>
    {% if blog.tags.size > 0 %}
        <div class="blog-filter">
            <label class="blog-filter__label select-label hide" for="BlogTagFilter">{{ 'collections.filters.title_tags' | t }}</label>
            <div class="select-group">
                <ul>
                    {% for tag in blog.all_tags %}
                    <li>
                        <a href="{{ blog.url }}/tagged/{{ tag | handleize }}">{{ tag }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
</div>