<div class="sidebarBlock">
    <h5 class="sidebarBlock-heading"><span>{% render 'multilang' with block.settings.title %}</span></h5>
    <div class="sidebarBlock-content">
        {{ block.settings.text }}
    </div>
</div>