{%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
{%- assign img_url_mobile = section.settings.image_mobile | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

{% if section.settings.custom_color %}
<style>
    [data-section-id='{{ section.id }}'] .hero .hero-content .title {
        color: {{ section.settings.color_heading }}
    }

    [data-section-id='{{ section.id }}'] .hero .hero-content .description,
    [data-section-id='{{ section.id }}'] .hero .hero-content .description p > a,
    [data-section-id='{{ section.id }}'] .hero .hero-content .description > a {
        color: {{ section.settings.color_text }}
    }

    [data-section-id='{{ section.id }}'] .hero .hero-content .description p > a:after,
    [data-section-id='{{ section.id }}'] .hero .hero-content .description > a:after {
        background-color: {{ section.settings.color_text }}
    }

    [data-section-id='{{ section.id }}'] .hero .button-group .btn {
        color: {{ section.settings.color_button_one }};
        background-color: {{ section.settings.bg_button_one }};
        border-color: {{ section.settings.border_button_one }};
    }

    [data-section-id='{{ section.id }}'] .hero .button-group .btn:hover {
        color: {{ section.settings.color_button_one_hover }} !important;
        background-color: {{ section.settings.bg_button_one_hover }};
        border-color: {{ section.settings.border_button_one_hover }};
    }
    @media (max-width: 1199px){
        [data-section-id='{{ section.id }}'] {
            padding-bottom: 15px;
        }
    }
    @media (min-width: 768px) and (max-width: 1024px) {
        [data-section-id='{{ section.id }}'] {
            margin-top: -1px;
        }
    }
</style>
{% endif %}

<div class="halo-section banner-image-full-width" data-section-id="{{ section.id }}" data-section-type="hero-section">
  <div class="container-fluid">
    <div class="halo-row halo-row-special">
      <div class="hero hero-content-custom hero--x-large">
          <div class="hero-image-wrapper">
              <div class="hero-image {% if section.settings.effect == 'parallax' %}hero-image-parallax{% endif %}" {% if section.settings.image != blank %}style="background-image: url('{{ section.settings.image | img_url: 'master' }}'); background-size: cover;background-position: center;"{% endif %}>
                  {% if section.settings.image == blank %}
                      <div class="placeholder-background">
                          <span class="recommended_size">1890x770</span>
                          {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
                      </div>
                  {% endif %}
              </div>
          </div>
          <div class="hero-content hero-content--{{ section.settings.content-layout }} {% if section.settings.custom_block %}hero-custom-block-padding{% endif %}">
              {%- if section.settings.description != blank -%}
                  <h2 class="title mega-title--large">
                      {{ section.settings.description }}
                  </h2>
              {%- endif -%}
              {%- if section.settings.button_label != blank -%}
                  <div class="button-group">
                      {%- if section.settings.button_label != blank -%}
                          <a href="{{ section.settings.button_link }}" class="btn btn--primary" aria-label="link">
                              {{ section.settings.button_label }}
                          </a>
                      {%- endif -%}
                  </div>
              {%- endif -%}
              {%- if section.settings.show_explore_more == true -%}
              <div class="next-arrow-wrapper">
                <div class="arrow-down-wrapper bg-white">
                    {% include 'icon-arrow-down' %}
                </div>
                <h6 class="arrow-button-title">
                    {{ section.settings.explore_button_title }}
                </h6>
              </div>
              {%- endif -%}
          </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
    "name": "Full Width Banner Image",
    "class": "banner-image-full-width-sections",
    "settings": [
        {
            "type": "header",
            "content": "Section Layout"
        },
        {
            "type": "header",
            "content": "Banner Image"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Image Mobile"
        },
        {
            "type": "select",
            "id": "effect",
            "label": "Effect",
            "default": "none",
            "options": [
                {
                    "label": "None",
                    "value": "none"
                },
                {
                    "label": "Parallax",
                    "value": "parallax"
                }
            ]
        },
        {
            "type": "header",
            "content": "Banner Content"
        },
        {
            "type": "select",
            "id": "content-layout",
            "label": "Layout",
            "default": "left",
            "options": [
                {
                    "label": "left",
                    "value": "left"
                },
                {
                    "label": "Right",
                    "value": "right"
                },
                {
                    "label": "Middle",
                    "value": "middle"
                }
            ]
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Description"
        }, 
        {
            "type": "text",
            "id": "button_label",
            "label": "Button",
            "default": "Shop Now"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
        },
        {
            "type": "checkbox",
            "id": "show_explore_more",
            "label": "Show Explore More",
            "default": true
        },
        {
            "type" : "textarea",
            "id" : "explore_button_title",
            "label": "Explore Button Title",
            "default" : "Explore <span class='text-lightblue'>more</span>"
        },
        {
            "type": "header",
            "content": "Custom Color"
        },
        {
            "type": "checkbox",
            "id": "custom_color",
            "label": "Turn on custom color",
            "default": false
        },
        {
            "type": "color",
            "id": "color_heading",
            "label": "Heading Color"
        },
        {
            "type": "color",
            "id": "color_text",
            "label": "Description Color"
        },
        {
            "type": "color",
            "id": "color_button_one",
            "label": "Button Color"
        },
        {
            "type": "color",
            "id": "border_button_one",
            "label": "Border Button"
        },
        {
            "type": "color",
            "id": "bg_button_one",
            "label": "Background Button"
        },
        {
            "type": "color",
            "id": "color_button_one_hover",
            "label": "Button Color Hover"
        },
        {
            "type": "color",
            "id": "border_button_one_hover",
            "label": "Border Button Hover"
        },
        {
            "type": "color",
            "id": "bg_button_one_hover",
            "label": "Background Button Hover"
        },
        {
            "type": "color",
            "id": "color_icon_video",
            "label": "Color Icon Video"
        } 
    ],
    "presets": [
        {
            "name": "Full Width Banner Image",
            "category": "Banners"
        }
    ]
}
{% endschema %}
