{% include 'setting-spacing' %}
{% include 'setting-background-color' %}

{% case section.settings.column %}
    {% when 1 %}
        {%- assign column = '1' -%}
    {% when 2 %}
        {%- assign column = '2' -%}
    {% when 3 %}
        {%- assign column = '3' -%}
    {% when 4 %}
        {%- assign column = '4' -%}
    {% when 5 %}
        {%- assign column = '5' -%}
    {% when 6 %}
        {%- assign column = '6' -%}
    {% when 7 %}
        {%- assign column = '7' -%}
    {% when 8 %}
        {%- assign column = '8' -%}
    {% when 9 %}
        {%- assign column = '9' -%}
    {% when 10 %}
        {%- assign column = '10' -%}
    {% endcase %}

{%- assign arrows = arrows | default: section.settings.carousel-arrows -%}
{%- assign dots = dots | default: section.settings.carousel-dots -%}

{% if section.settings.custom_color %}
<style>
    [data-section-id='{{ section.id }}'] .customBlock_Carousel .customBlock_item .custom-image i {
        color: {{ section.settings.color_icon }};
    }

    [data-section-id='{{ section.id }}'] .customBlock_Carousel .customBlock_item .custom-content .title {
        color: {{ section.settings.color_heading }};
    }

    [data-section-id='{{ section.id }}'] .customBlock_Carousel .customBlock_item .custom-content .description {
        color: {{ section.settings.color_text }};
    }

    .customBlock_Carousel .slick-slide:first-child .customBlock_item, .customBlock_Carousel .customBlock_item:first-child {
        border-left: 0 !important;
    }

    .customBlock_Carousel .slick-slide .customBlock_item, .customBlock_Carousel .customBlock_item{
       border-left: 1px solid {{ section.settings.color_line }} !important;
    }
</style>
{% endif %}

<div class="halo-section {% if section.settings.style == 'style-2' %}custom-block-2{% endif %}{% if request.page_type == 'product' and section.settings.background-color %}customBlock_Carousel_product{% endif %} {{ padding_top }} {{ padding_bottom }} {{ background_color }} {{ border-top }} {{ border-bottom }}" data-section-id="{{ section.id }}" data-section-type="customBlockCarousel">
    <div class="{% if section.settings.style == 'style-1' %}container{% else %}container-full-custom{% endif %}">
        {% if section.blocks.size > 0 %}
            <div class="customBlock_Carousel column-{{ column }}" data-slick='{
                    "dots": {{ dots }},
                    "arrows": {{ arrows }},
                    "infinite": false,
                    "adaptiveHeight": true,
                    "slidesToShow": {{ column }},
                    "slidesToScroll": {{ column }},
                    "prevArrow": "<div class=&apos;slick-prev slick-arrow&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-left&apos; /></svg></div>", 
                    "nextArrow": "<div class=&apos;slick-next slick-arrow&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-right&apos; /></svg></div>"
                }'>
                {% for block in section.blocks %}
                    <div class="customBlock_item" {{ block.shopify_attributes }}>
                        {% if block.settings.icon_policy != blank %}
                            <span class="custom-image">{{block.settings.icon_policy}}</span>
                        {% endif %}
                        <div class="custom-content">
                            {% if block.settings.title != blank %}
                                <h5 class="title">{{ block.settings.title }}</h5>
                            {% endif %}
                            {% if block.settings.text != blank %}
                                <p class="description">{{ block.settings.text }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
       {% comment %} {% if section.blocks.size == 0 %}
            {% include 'no-blocks' %}
        {% endif %}{% endcomment %}
    </div>
</div>

{% schema %}
{
    "name": "Custom Block Carousel",
    "class": "custom-block-sections",
    "max_blocks": 6,
    "settings": [
        {
            "type": "header",
            "content": "Section Layout"
        },
        {
            "type": "checkbox",
            "id": "background-color",
            "label": "Background Gray",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "border-top",
            "label": "Show Border Top",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "border-bottom",
            "label": "Show Border Bottom",
            "default": false
        },
        {
            "type": "range",
            "id": "padding-top",
            "label": "Spacing Top",
            "default": 3,
            "min": 0,
            "max": 10,
            "step": 1
        },
        {
            "type": "range",
            "id": "padding-bottom",
            "label": "Spacing bottom",
            "default": 3,
            "min": 0,
            "max": 10,
            "step": 1
        },
        {
            "type": "header",
            "content": "Layout"
        },
        {
            "type": "select",
            "id": "style",
            "label": "Style",
            "options": [
                {
                    "value": "style-1",
                    "label": "Style 1"
                },
                {
                    "value": "style-2",
                    "label": "Style 2"
                }
            ],
            "default": "style-1"
        },
        {
            "type": "checkbox",
            "id": "carousel-arrows",
            "label": "Show Arrows",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "carousel-dots",
            "label": "Show Dots",
            "default": false
        },
        {
            "type": "range",
            "id": "column",
            "label": "Column",
            "default": 4,
            "min": 1,
            "max": 5,
            "step": 1
        },
        {
            "type": "header",
            "content": "Custom Color"
        },
        {
            "type": "checkbox",
            "id": "custom_color",
            "label": "Turn on custom color",
            "default": false
        },
        {
            "type": "color",
            "id": "color_icon",
            "label": "Icon Block Color"
        }, 
        {
            "type": "color",
            "id": "color_heading",
            "label": "Title Block Color"
        },
        {
            "type": "color",
            "id": "color_text",
            "label": "Description Block Color"
        },
        {
            "type": "color",
            "id": "color_line",
            "label": "Line Block Color",
            "default": "#26292d"
        }
    ],
    "blocks": [
        {
            "type": "logo_image",
            "name": "Another Block",
            "settings": [
                {
                    "type":"text",
                    "id":"icon_policy",
                    "label":"Add icon",
                    "default": "<i class=\"fas fa-shipping-fast\" aria-hidden=\"true\"></i>",
                    "info":"Use awesome font icon"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Free Shipping"
                },
                {
                    "type": "text",
                    "id": "text",
                    "label": "Description",
                    "default": "on all orders over $199"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Custom Block Carousel",
            "category": "Custom Block",
            "blocks": [
                {
                    "type": "logo_image"
                },
                {
                    "type": "logo_image"
                },
                {
                    "type": "logo_image"
                },
                {
                    "type": "logo_image"
                }
            ]
        }
    ]
}
{% endschema %}
