<div class="home-text-image-content"  data-section-id="{{ section.id }}" data-section-type="home-text-image-section">
  <div class="home-text-image-row">
    <div class="column left-content">
      {%- if section.settings.left_top_heading != blank -%}
      <div class="top-heading-wrapper">
        <div class="heading h5">{{ section.settings.left_top_heading }}</div>
      </div>
      {%- endif -%}
      {%- if section.settings.left_image != blank -%}
      <div class="image-wrapper text-center">
        <img data-src="{{ section.settings.left_image | img_url: 'master' }}" class="lazyload">
      </div>
      {%- endif -%}
    </div>
    <div class="column right-content">
      {%- if section.settings.right_top_heading != blank or section.settings.right_image != blank -%}
      <div class="top-heading-wrapper">
        <div class="heading h5">{{ section.settings.right_top_heading }}</div>
        <img data-src="{{ section.settings.right_image | img_url: 'master' }}" class="bg-img lazyload">
      </div>
      {%- endif -%}
      {%- if section.settings.right_heading != blank or section.settings.right_description != blank -%}
      <div class="text-wrapper">
        <h2 class="heading mega-title--large">{{ section.settings.right_heading }}</h2>
        <p class="description text-large">{{ section.settings.right_description }}</p>
      </div>
      {%- endif -%}
    </div>
  </div>
</div>
<style>
    #shopify-section-{{section.id}} .left-content {
        {%- if section.settings.left_block_bg != blank -%}
        background-color: {{ section.settings.left_block_bg  }};
        {%- endif -%}
    }
    #shopify-section-{{section.id}} .right-content {
        {%- if section.settings.right_block_bg != blank -%}
        background-color: {{ section.settings.right_block_bg  }};
        {%- endif -%}
    }
    @media(min-width: 768px){
        #shopify-section-{{section.id}} .left-content {
            {%- if section.settings.left_padding != blank -%}
            padding: {{ section.settings.left_padding }};
            {%- endif -%}
        }
        #shopify-section-{{section.id}} .right-content {
            {%- if section.settings.right_padding != blank -%}
            padding: {{ section.settings.right_padding }};
            {%- endif -%}
        }
    }

    @media(min-width: 376px) and (max-width: 767px){
        #shopify-section-{{section.id}} .left-content {
            {%- if section.settings.left_padding_tab != blank -%}
            padding: {{ section.settings.left_padding_tab }};
            {%- endif -%}
        }
        #shopify-section-{{section.id}} .right-content {
            {%- if section.settings.right_padding_tab != blank -%}
            padding: {{ section.settings.right_padding_tab }};
            {%- endif -%}
        }
    }

    @media(max-width: 375px){
        #shopify-section-{{section.id}} .left-content {
            {%- if section.settings.left_padding_mb != blank -%}
            padding: {{ section.settings.left_padding_mb }};
            {%- endif -%}
        }
        #shopify-section-{{section.id}} .right-content {
            {%- if section.settings.right_padding_mb != blank -%}
            padding: {{ section.settings.right_padding_mb }};
            {%- endif -%}
        }
    }
</style>
{% schema %}
{
    "name": "Home Text Image",
    "class": "ozen-home-text-image",
    "settings": [
        {
            "type": "header",
            "content": "Left Content"
        },
        {
            "type": "textarea",
            "id": "left_top_heading",
            "label": "Left Top Heading"
        },
        {
            "type": "image_picker",
            "id": "left_image",
            "label": "Left Image"
        },
        {
            "type": "header",
            "content": "Right Content"
        },
        {
            "type": "textarea",
            "id": "right_top_heading",
            "label": "right Top Heading"
        },
        {
            "type": "textarea",
            "id": "right_heading",
            "label": "right Heading"
        },
        {
            "type": "textarea",
            "id": "right_description",
            "label": "Right Description"
        },
        {
            "type": "image_picker",
            "id": "right_image",
            "label": "Right Image"
        },
        {
          "type": "header",
          "content" : "Left Block Style"
        },
        {
          "type" : "color",
          "id" : "left_block_bg",
          "label" : "Left Block Background",
          "default" : "#FAFBF4"
        },
        {
          "type" : "text",
          "id" : "left_padding",
          "label" : "Left Padding",
          "default" : "3.38vw 3.13vw 0"
        },
        {
          "type" : "text",
          "id" : "left_padding_tab",
          "label" : "Left Padding Tablet",
          "default" : "6.5vw 10.4vw 0"
        },
        {
          "type" : "text",
          "id" : "left_padding_mb",
          "label" : "Left Padding Mobile",
          "default" : "7.2vw 4vw 0"
        },
        {
          "type": "header",
          "content" : "Right Block Style"
        },
        {
          "type" : "color",
          "id" : "right_block_bg",
          "label" : "Right Block Background",
          "default" : "#FFFFFF"
        },
        {
          "type" : "text",
          "id" : "right_padding",
          "label" : "Right Padding",
          "default" : "3.38vw 7.5vw"
        },
        {
          "type" : "text",
          "id" : "right_padding_tab",
          "label" : "Right Padding Tablet",
          "default" : "6.5vw 3.3vw"
        },
        {
          "type" : "text",
          "id" : "right_padding_mb",
          "label" : "Right Padding Mobile",
          "default" : "11vw 4vw"
        }
    ],
    "presets": [
        {
            "name": "Ozen Home Text Image",
            "category": "Banners"
        }
    ]
}
{% endschema %}