<div class="home-banner-content"  data-section-id="{{ section.id }}" data-section-type="home-banner-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-9 col-md-6">
                <h2 class="mega-title mega-title--large text-white title">{{ section.settings.title }}</h2>
                <a class="btn btn--secondary btn-size-normal" href="{{ section.settings.button_link }}">
                    {% include 'icon-arrow-right' %}<span>{{ section.settings.button_title }}</span>
                </a>
                <div class="next-arrow-wrapper">
                    <div class="arrow-down-wrapper bg-white">{% include 'icon-arrow-down' %}</div>
                    <h6 class="arrow-button-title">{{ section.settings.next_button_title }}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    @media(min-width: 768px){
        #shopify-section-{{section.id}} {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
            {% if section.settings.image != blank %}
            {% assign bg_image  = section.settings.image | img_url: 'master' %}
            background-image: url({{ bg_image }});
            {% endif %}
        }   
    }

    @media(min-width: 376px) and (max-width: 767px){
        #shopify-section-{{section.id}}{
            padding-top: {{ section.settings.padding_top_tab }}px;
            padding-bottom: {{ section.settings.padding_bottom_tab }}px;
            {% if section.settings.image_medium != blank %}
            {% assign bg_image_medium  = section.settings.image_medium | img_url: 'master' %}
            background-image: url({{ bg_image_medium }});
            {% endif %}
        }
    }

    @media(max-width: 375px){
        #shopify-section-{{section.id}}{
            padding-top: {{ section.settings.padding_top_mb }}px;
            padding-bottom: {{ section.settings.padding_bottom_mb }}px;
            {% if section.settings.image_small != blank %}
            {% assign bg_image_small  = section.settings.image_small | img_url: 'master' %}
            background-image: url({{ bg_image_small }});
            {% endif %}
        }
    }
</style>
{% schema %}
{
    "name": "Home Banner",
    "class": "ozen-home-banner bg-center-cover",
    "settings": [
        {
            "type": "header",
            "content": "Content"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Background Image"
        },
        {
            "type": "image_picker",
            "id": "image_medium",
            "label": "Background Image on Tablet"
        },
        {
            "type": "image_picker",
            "id": "image_small",
            "label": "Background Image on Mobile"
        },
        {
            "type": "textarea",
            "id": "title",
            "label": "Heading"
        },
        {
            "type": "text",
            "id": "button_title",
            "label": "Button Title",
            "default": "Shop Now"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
        },
        {
            "type": "text",
            "id": "next_button_title",
            "label": "Next Button Title",
            "default": "Explore More"
        },
        {
          "type": "header",
          "content" : "Section Style"
        },
        {
          "type" : "range",
          "id" : "padding_top",
          "label" : "Padding Top",
          "min": 0,
          "max" : 150,
          "step": 10,
          "unit" : "px",
          "default": 100
        },
        {
          "type" : "range",
          "id" : "padding_bottom",
          "label" : "Padding Bottom",
          "min": 0,
          "max" : 150,
          "step": 10,
          "unit" : "px",
          "default": 100
        },
        {
          "type" : "range",
          "id" : "padding_top_tab",
          "label" : "Padding Top - Tablet",
          "min": 0,
          "max" : 150,
          "step": 10,
          "unit" : "px",
          "default": 60
        },
        {
          "type" : "range",
          "id" : "padding_bottom_tab",
          "label" : "Padding Bottom - Tablet",
          "min": 0,
          "max" : 150,
          "step": 10,
          "unit" : "px",
          "default": 60
        },
        {
          "type" : "range",
          "id" : "padding_top_mb",
          "label" : "Padding Top - Mobile",
          "min": 0,
          "max" : 150,
          "step": 10,
          "unit" : "px",
          "default": 60
        },
        {
          "type" : "range",
          "id" : "padding_bottom_mb",
          "label" : "Padding Bottom - Mobile",
          "min": 0,
          "max" : 150,
          "step": 10,
          "unit" : "px",
          "default": 60
        }
    ],
    "presets": [
        {
            "name": "Ozen Home Banner",
            "category": "Banners"
        }
    ]
}
{% endschema %}