<!--header class="header-password">
    <div class="access-area">
        <a href="#LoginModal" class="js-modal-open-login-modal link--action link-hover-invert" aria-haspopup="dialog">{{ 'general.password_page.password_link' | t }}</a>
    </div>
</header-->
<div class="password-content">
    <div class="col">
        {% if section.settings.banner != blank %}
            <img class="background" src="{{ section.settings.banner | img_url:'master'}}" alt="">
        {% else %}
        <div class="not_img">
            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
        {% endif %}
      
        <div class="content">
            <div class="text">
                {% if shop.password_message and shop.password_message != '' %}
                    {{ shop.password_message }}
                {% else %}
                    <h1 class="heading">{{section.settings.heading}}</h1>
                    <p class="subtitle">{{section.settings.subtitle}}</p>
                    <div class="heading-logo">
                        {% if section.settings.logo != blank %}
                            {%- assign img_url = section.settings.logo | img_url: '170x' -%}
                            <a href="{{ routes.root_url }}" class="site-header__logo-image" style="width: {{ section.settings.logo_max_width }}px">
                                {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
                                <img itemprop="logo" src="{{ section.settings.logo | img_url: '170x' }}" alt="{{ logo_alt | escape }}">
                            </a>
                        {% else %}
                            {% if section.settings.logo_text != blank %}
                                <a class="site-header__logo-link" href="{{ routes.root_url }}" style="width: {{ section.settings.logo_max_width }}px">{{ section.settings.logo_text }}</a>
                            {% else %}
                                <a class="site-header__logo-link" href="{{ routes.root_url }}">{{ shop.name }}</a>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            {%if section.settings.display_newsletter%}
                {% include 'newsletter-form' with 'password', message:{{section.settings.success_message}} %}
            {% endif %}
            {% if section.settings.display_product_detail_share %}
                {% include 'share' %}
            {% endif %}
        </div>
        <footer>
            {% if section.settings.footer_address_code != blank %}
            <address>
                {{ section.settings.footer_address_code  }}
            </address>
            {% endif %}
        </footer>
    </div>
</div>


{% schema %}
{
    "name": "Password Page",
    "class":"password-wrapper",
    "settings": [
        {
            "type":"header",
            "content":"Header"
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo image"
        },
        {
            "type": "html",
            "id": "logo_text",
            "label": "Logo text"
        },
        {
            "type": "range",
            "id": "logo_max_width",
            "label": "Custom logo width",
            "min": 50,
            "max": 250,
            "step": 5,
            "unit": "px",
            "default": 100
        },
        {
            "type":"header",
            "content":"Banner"
        },
        {
            "type":"image_picker",
            "id":"banner",
            "label":"Banner"
        },
        {
            "type":"header",
            "content":"Custom Message"
        },
        {
            "type":"paragraph",
            "content":"To show custom message, leave \"Message for your visitors\" in admin Preferences blank"
        },
        {
            "type":"text",
            "id":"heading",
            "label":"Heading",
            "default":"Our new store will be  opening soon"
        },
        {
            "type":"textarea",
            "id":"subtitle",
            "label":"Subtitle",
            "default":"Phasellus lorem malesuada de pulvinar commodo maecenas."
        },
        {
                "type": "checkbox",
                "id": "display_newsletter",
                "label": "Enable Newsletter Form",
                "default": true
        },
        {
                "type": "textarea",
                "id": "success_message",
                "label": "Subscribed Message",
                "default": "Thanks for contacting us. We'll get back to you as soon as possible"
        },
        {
                "type": "checkbox",
                "id": "display_product_detail_share",
                "label": "Display Icon Share?",
                "default": true
        },
        {
                "type": "header",
                "content":"Footer"
        },
        {
            "type": "textarea",
            "id": "footer_address_code",
            "label": "Footer Address Code"
        }
    ]
}
{% endschema %}
