<div class="product_template" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
    {% comment %}
        Get first variant, or deep linked one
    {% endcomment %}
    {%- assign current_variant = product.selected_or_first_available_variant -%}
    {%- assign product_image_zoom_size = '1024x1024' -%}
    {%- assign product_image_scale = '2' -%}
    {%- assign enable_zoom = section.settings.enable_zoom -%}
    {%- assign enable_fancybox = section.settings.enable_fancybox -%}
    {%- assign compare_at_price = current_variant.compare_at_price -%}
    {%- assign price = current_variant.price -%}
    {%- assign changeImageGroup = settings.enable_change_group_image -%}

    {%- assign product_handle = product.title | handle -%}
    {% assign check = false %}
    {% for media in product.media %}
        {%- assign product_alt = media.alt | handle -%}
        {% if product_alt != product_handle %}
            {% assign check = true %}
        {% endif %}
    {% endfor %}

    <div class="product_top product_layout {% if collection.previous_product or collection.next_product %}next-prev-product-wrapper{% endif %}" {% if changeImageGroup and check %} data-change-group-image{% endif %}>
        <div class="product_photos">
            {% render 'product_badges', product: product, badge_detail: true %}
            <div class="product-single__photos product-slider">
                <div class="product-single__photos_container">
                    {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
                    <div class="slider-for">
                        {% for media in product.media %}
                            {% capture img_id %}FeaturedImage-{{ section.id }}-{{ media.id }}{% endcapture %}
                            {% capture img_class %}product-featured-img{% endcapture %}
                            {% capture zoom_img_id %}FeaturedImageZoom-{{ section.id }}-{{ media.id }}{% endcapture %}
                            {% capture img_wrapper_id %}{{ zoom_img_id }}-wrapper{% endcapture %}
                            {%- assign img_url = media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                            {% case media.media_type %}
                                {% when 'image' %}
                                    <div id="{{ img_wrapper_id }}" class="product-single__photo-wrapper filter-{{ media.alt | handle }} js">
                                        <div
                                        id="{{ zoom_img_id }}"
                                        class="product-single__photo{% if enable_zoom %} js-zoom-enabled{% endif %}{% if product.images.size > 1 %} product-single__photo--has-thumbnails{% endif %}"
                                        data-image-id="{{ media.id }}" {% if enable_fancybox %} data-fancybox="images" href="{{ media | img_url: 'original' }}"{% endif %}
                                        {% if enable_zoom %} data-zoom="{{ media | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
                                            <img id="{{ img_id }}"
                                                class="feature-row__image {{ img_class }} lazyload{% unless featured_image == media %} lazypreload{% endunless %}"
                                                src="{{ media | img_url: 'original' }}"
                                                data-src="{{ media | img_url: 'original' }}"
                                                data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                                data-aspectratio="{{ media.aspect_ratio }}"
                                                data-sizes="auto"
                                                tabindex="-1"
                                                alt="{{ media.alt | escape }}" data-image>
                                        </div>
                                    </div>
                                {% when 'external_video' %}
                                    <div id="{{ img_wrapper_id }}" class="product-single__photo-wrapper js">
                                        <div id="{{ zoom_img_id }}" class="product-single__photo product-single__media product-single__photo--has-thumbnails number__{{ forloop.index }}" data-image-id="{{ media.id }}" style="--my-height-var:{{ product_height }}%">
                                            {{ media | external_video_tag }}
                                        </div>
                                    </div>
                                {% when 'model' %}
                                    <div id="{{ img_wrapper_id }}" class="pproduct-single__photo-wrapper js">
                                        <div id="{{ zoom_img_id }}" class="product-single__photo product-single__media model-viewer-click product-single__photo--has-thumbnails number__{{ forloop.index }}" data-image-id="{{ media.id }}" style="--my-height-var:{{ product_height }}%">
                                            {{ media | model_viewer_tag: image_size: '500x', reveal: 'interaction', toggleable: true, data-model-id: media.id, auto-rotate: true, id: 'paused-change-demo' }}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="product-single__thumbnails-item" data-slick-index="{{ forloop.index}}">
                                        <div  class="product-thumbnails__photo product-single__media product-single__thumbnail--{{ section.id }}" data-thumbnail-id="{{ media.id }}">
                                            {{ media | media_tag }}
                                        </div>
                                    </div>
                            {% endcase %}
                        {% endfor %}
                    </div>
                    {% if section.settings.video_product and product.metafields.halo['video'] != blank %}
                        <div class="label-videos">
                            <a class="video-link" href="javascript:void(0);" data-toggle="modal" data-target="#video_product" aria-label="link">
                                <svg viewBox="0 0 200 200" class="icon icon-video"> <circle cx="100" cy="100" r="90" fill="none" stroke-width="8"></circle> <polygon points="70, 50 70, 145 155, 100"></polygon> </svg>
                            </a>
                        </div>
                    {% endif %}
                    {% if enable_zoom %}
                    <div class="hover-to-zoom">
                        <svg class="icon"><use xlink:href="#icon-search" /></svg>
                        <span class="text">{{ section.settings.text_zoom }}</span>
                    </div>
                    {% endif %}
                </div>
                {% if section.settings.enable_thumbnails %}
                    <div class="slider-nav product-single__thumbnails product-single__thumbnails-{{ section.id }}" data-rows="5">
                        {% for media in product.media %}
                            {% case media.media_type %}
                                {% when 'image' %}
                                    <div class="item product-single__thumbnails-item js filter-{{ media.alt | handle }}" data-slick-index="{{ forloop.index}}">
                                        <a href="{{ media.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
                                            class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
                                            data-thumbnail-id="{{ media.id }}" aria-label="link"
                                            {% if enable_zoom %}data-zoom="{{ media.src | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
                                                <img class="product-single__thumbnail-image" src="{{ media.src | img_url: '110x110', scale: 2 | split: '?' | first }}" alt="{{ 'sections.featured_product.gallery_thumbnail_alt' | t: imageAlt: media.alt | escape }}">
                                        </a>
                                    </div>
                                {% when 'external_video' %}
                                    <div class="item product-single__thumbnails-item js" data-slick-index="{{ forloop.index}}">
                                        <div  class="product-thumbnails__photo product-single__thumbnail--{{ section.id }} product-single__media" data-thumbnail-id="{{ media.id }}">
                                            <img id="product-featured-image-{{media.id}}" class="product-single__thumbnail-image" src="https://img.youtube.com/vi/{{ media | external_video_tag | split: 'embed/' | last | split: '?' | first }}/0.jpg" alt="{{ media.alt }}">
                                            <div class="product-single__thumbnail--icon" aria-label="Play 3D Viewer">
                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 494.148 494.148" xml:space="preserve"><g><g><path d="M405.284,201.188L130.804,13.28C118.128,4.596,105.356,0,94.74,0C74.216,0,61.52,16.472,61.52,44.044v406.124 c0,27.54,12.68,43.98,33.156,43.98c10.632,0,23.2-4.6,35.904-13.308l274.608-187.904c17.66-12.104,27.44-28.392,27.44-45.884 C432.632,229.572,422.964,213.288,405.284,201.188z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                            </div>
                                        </div>
                                    </div>
                                {% when 'model' %}
                                    <div class="item product-single__thumbnails-item js" data-slick-index="{{ forloop.index}}">
                                        <div  class="product-thumbnails__photo product-single__thumbnail--{{ section.id }} product-single__media" data-thumbnail-id="{{ media.id }}">
                                            {{ media | model_viewer_tag: image_size: image_size, reveal: 'interaction', toggleable: true, data-model-id: media.id, auto-rotate: true }}
                                            <div class="product-single__thumbnail--icon" aria-label="Play 3D Viewer">
                                                <svg id="Capa_1" enable-background="new 0 0 511.973 511.973" height="512" viewBox="0 0 511.973 511.973" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m255.989 0-221.693 127.993v255.985l221.693 127.994 221.688-127.994v-255.985zm176.683 136.651-176.683 101.965-176.688-101.965 176.688-102.01zm-368.376 25.977 176.693 101.969v204.074l-176.693-102.013zm206.693 306.043v-204.074l176.688-101.968v204.03z"/></svg>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="item product-single__thumbnails-item js" data-slick-index="{{ forloop.index}}">
                                        <div  class="product-thumbnails__photo product-single__media product-single__thumbnail--{{ section.id }}" data-thumbnail-id="{{ media.id }}">
                                            {{ media | video_tag: controls: false }}
                                        </div>
                                    </div>
                            {% endcase %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="product_shop">
            {% if section.settings.display_vendor %}
                <div class="product_vendor">
                    <span>{{ product.vendor | link_to_vendor }}</span>
                </div>
            {% endif %}
            <h1 class="product-title">{{ product.title }}</h1>
            <div class="group_item">
                {% if section.settings.display_product_reviews %}
                    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                {% endif %}

                {% if section.settings.show_sold_in %}
                    <div data-soldOut-product class="sold_product" data-items="{{ section.settings.item_prd }}" data-hours="{{ section.settings.hours_prs }}">
                        <svg class="icon"><use xlink:href="#icon-fire" /></svg>
                        <span class="items-count">2</span>
                        {{ section.settings.item_prds }}
                        <span class="hours-num">8</span>
                        {{ section.settings.item_hours }}
                    </div>
                {% endif %}

                {% if section.settings.display_availability %}
                    <div class="product_inventory">
                        <span>
                            {% if current_variant.inventory_management %}
                                {% assign first_inventory = current_variant.inventory_quantity %}
                                {% if first_inventory > 0 %}
                                    <span class="item-number">{{first_inventory}}</span>{{ 'products.product.in_stock' | t }}
                                {% else %}
                                    {{ 'products.product.out_of_stock' | t }}
                                {% endif %}
                            {% else %}
                                {{ 'products.product.many_in_stock' | t }}
                            {% endif %}
                        </span>
                    </div>
                {% endif %}

            </div>
            {% if section.settings.display_product_sku or section.settings.display_product_type %}
                <div class="product_infor">
                   
                    {% if section.settings.display_product_sku %}
                        <div class="sku_product">
                            <label>
                                {{ 'customer.order.sku' | t }}:
                            </label>
                            <span class="variant-sku">{{ current_variant.sku }}</span>
                        </div>
                    {% endif %}
                   
                    {% if section.settings.display_product_type %}
                        <div class="product_type">
                            <label>
                                {{ 'products.product.product_type' | t }}:
                            </label>
                            <span>{{ product.type }}</span>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
           
            {% if section.settings.display_short_description %}
                {% if section.settings.type_short_description == 'default' %}
                    {% assign des = product.description %}
                {% else %}
                    {% assign des = product.metafields.halo['shortdescription'] %}
                {% endif %}
                {% assign number = section.settings.number_words | plus: 0 %}
                <div class="short-description">
                    {{ des | replace: '&nbsp;', ' ' | truncatewords: number }}
                </div>
            {% endif %}

            {% if section.settings.display_progressbar %}
                <div class="progressbar">
                    <h3>{{ 'products.product.progressbar' | t }} {{ current_variant.inventory_quantity }} {{ 'products.product.progressbar1' | t }}</h3>
                    <div id="progressbar">
                        <span></span>
                    </div>
                </div>
            {% endif %}

            {% if settings.display_countdown %}
                {% if settings.option_countdown == 'different_product' %}
                    {% if product.metafields.halo['countdown'] %}
                        <div class="countdown">
                            <div id="product-countdown" class="product-countdown" data-countdown data-countdown-value="{{ product.metafields.halo['countdown'] }}"></div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="countdown">
                        {% if settings.count_down_timer != blank %}
                            <div id="product-countdown" class="product-countdown" data-countdown data-countdown-value="{{ settings.count_down_timer }}"></div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}

            {% if section.settings.display_price %}
                {% render 'product-price', variant: current_variant %}
            {% endif %}

            <div class="product_form_wrapper">
                {% capture "form_classes" -%}
                    product-form product-form-{{ section.id }}{% if section.settings.enable_payment_button and product.has_only_default_variant%} product-form--payment-button-no-variants{% endif %}
                {%- endcapture %}

                {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
                    {% if section.settings.display_size_chart %}
                        {% if section.settings.size_chart == 'different' %}
                            {% if product.metafields.halo['Size Chart'] != blank %}
                                <a data-toggle="modal" data-target="#size_chart" class="size-chart-open-popup" href="javascript:void(0)" aria-label="link">
                                    {{ section.settings.size_guide_text }}
                                </a>
                            {% endif %}
                        {% else %}
                            <a data-toggle="modal" data-target="#size_chart" class="size-chart-open-popup" href="javascript:void(0)" aria-label="link">
                                {{ section.settings.size_guide_text }}
                            </a>
                        {% endif %}
                    {% endif %}
                    
                    {% render 'product-variants', product: product, changeImageGroup: changeImageGroup %}

                    {% if section.settings.display_subtotal and current_variant.available %}
                        <div class="total-price">
                            <label>
                                {{ 'cart.general.subtotal' | t }}:
                            </label>
                            <span class="total-money" data-total-price data-price-value="{{ current_variant.price }}">
                                {{ current_variant.price | money }}
                            </span>
                        </div>
                    {% endif %}

                   
                    <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden" data-error-message-wrapper role="alert">
                        {% render 'icon-error' %} <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
                    </div>

                    <div class="button-group layout-1">

                        <div class="button-group-bottom">
                        {% if section.settings.show_quantity_selector %}
                            <div class="product-form__item product-form__item--quantity quantity">
                                <label for="Quantity-{{ section.id }}" class="form-label">{{ 'products.product.quantity' | t }}</label>
                                <div class="qty-group">
                                    <a href="#" data-qtt data-minus-qtt class="minus button"> {% render 'icon-minus' %} </a>
                                    <input type="text" id="Quantity-{{ section.id }}" name="quantity" value="1" min="1" pattern="[0-9]*" data-quantity-input>
                                    <a href="#" data-qtt data-plus-qtt class="plus button"> {% render 'icon-plus' %}</a>
                                </div>
                            </div>
                        {% endif %}

                        <button type="submit" name="add"
                            aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
                            class="btn {% unless current_variant.available %}product-btn-soldOut{% else %}product-btn{% endunless %} product-form__cart-submit"
                            data-add-to-cart>
                            {% unless current_variant.available %}
                                <span data-add-to-cart-text>
                                    {{ 'products.product.sold_out' | t }}
                                </span>
                            {% else %}
                                {% if current_variant.inventory_management %}
                                    {% if current_variant.inventory_quantity > 0 %}
                                        <span data-add-to-cart-text>
                                            {{ 'products.product.add_to_cart' | t }}
                                        </span>
                                    {% else %}
                                        <span data-add-to-cart-text>
                                            {{ 'products.product.pre_order' | t }}
                                        </span>
                                    {% endif %}
                                {% else %}
                                    <span data-add-to-cart-text>
                                        {{ 'products.product.add_to_cart' | t }}
                                    </span>
                                {% endif %}
                            {% endunless %}
                            <span class="hide" data-loader>
                                {% render 'icon-spinner' %}
                            </span>
                        </button>
                        {% if settings.show_wishlist %}
                            <button class="wishlist btn btn--secondary" data-icon-wishlist data-product-handle="{{ product.handle }}" data-id="{{ product.id }}">
                                <svg class="icon"><use xlink:href="#icon-heart"></use></svg>
                            </button>
                        {% endif %}
                        </div>


                        {% if section.settings.enable_payment_button %}
                            {% if settings.terms_conditions %}
                                <div class="terms_conditions_wrapper">
                                    <input type="checkbox" id="terms-conditions-{{ product.id }}" value=""/>
                                    <label class="title" for="terms-conditions-{{ product.id }}">
                                        {{ settings.terms_conditions_text }}
                                    </label>
                                </div>
                            {% endif %}
                            {{ form | payment_button }}
                        {% endif %}
                    </div>
                {% endform %}

                {%- comment -%}
                    Live region for announcing updated price and availability to screen readers
                {%- endcomment -%}
                <p class="visually-hidden" data-product-status aria-live="polite" role="status"></p>

                {%- comment -%}
                    Live region for announcing that the product form has been submitted and the
                    product is in the process being added to the cart
                {%- endcomment -%}
                <p class="visually-hidden" data-loader-status aria-live="assertive" role="alert" aria-hidden="true">
                    {{ 'products.product.loader_label' | t }}
                </p>
            </div>
            {% if section.settings.dpl_customers_view %}
                <div id="customers_view" class="product_customers_view" data-customer-view="{{ section.settings.number_view }}">
                    <i class="far fa-eye"></i>
                    <label>{{ section.settings.number_view | split: ',' | first | strip }}</label>
                    <span> {{ section.settings.title_view }}</span>
                </div>
            {% endif %}

            {% if section.settings.display_product_detail_share %}
                {% render 'share' with product %}
            {% endif %}

            {% if section.settings.display_trust_img and section.settings.img_trust != blank %}
                <div class="product_trust_img">
                    <img class="lazyload" src="{{ 'loading.svg' | asset_url }}" data-src="{{ section.settings.img_trust | img_url: '500x'  }}" alt="" data-image>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% if section.settings.enable_sticky_atc %}
    {% render 'sticky-add-to-cart', product: product %}
{% endif %}
{% render 'popup_modal_size_chart', product: product  %}
{% render 'popup_modal_videos', product: product  %}

{% unless product == empty %}
    <script type="application/json" id="ProductJson-{{ section.id }}">
        {{ product | json }}
    </script>
{% endunless %}
<script src="{{ 'jquery.min.js' | asset_url }}"></script>
<script>
    $(document).ready(function() {
        function randomIntFromInterval(min, max) {
        return Math.floor(Math.random() * (max - min + 1) + min);
        }

         var total_items = {% if section.settings.total_items != blank %}{{ section.settings.total_items }}{% else %}0{% endif %} || 60,
            min_items_left = {% if section.settings.min_items_left != blank %}{{ section.settings.min_items_left }}{% else %}0{% endif %} || 8,
            max_items_left = {% if section.settings.max_items_left != blank %}{{ section.settings.max_items_left }}{% else %}0{% endif %} || 30,
            rest_items = randomIntFromInterval(min_items_left, max_items_left),
            timer = null,
            timerInterval = null;

        function initProgressbar(rest_items) {
        var progressbar = $('.progressbar');
        var count = progressbar.find('.count');

        count.text(rest_items);
        updateMeter(rest_items);

        timer = setTimeout(function() {
            rest_items--;

            if (rest_items < 1) {
            rest_items = randomIntFromInterval(min_items_left, max_items_left)
            };

            count.text(rest_items);
            updateMeter(rest_items);
        }, 1000 * 60 * 0.17);

        timerInterval = setInterval(function() {
            rest_items--;

            if (rest_items < 1) {
            rest_items = randomIntFromInterval(min_items_left, max_items_left)
            }
            count.text(rest_items);
            updateMeter(rest_items)
        }, 1000 * 60 * 1.7)
        }


        function updateMeter(rest_items) {
        var percent = 100 * rest_items / total_items;

        if (rest_items >= min_items_left) {
            setTimeout(function() {
            $('#progressbar span').css('width', percent + '%');
            }, 300);
        }
        };

        initProgressbar(rest_items);
    });
</script>

<style>
    #progressbar {
        background-color: {{ section.settings.progressbar_color }};
    }
    #progressbar span {
        background-color: {{ section.settings.progressbar_active_color }};
    }
</style>

{% schema %}
{
    "name": "Product pages",
    "settings": [
        {
            "type": "header",
            "content": "Product Image"
        },
        {
            "type": "checkbox",
            "id": "enable_zoom",
            "label": "Enable image zoom",
            "default": true
        },
        {
            "type" : "text",
            "id" : "text_zoom",
            "label" : "Text Zoom",
            "default" : "Zoom the image with the mouse"
        },
        {
            "type": "checkbox",
            "id": "enable_fancybox",
            "label": "Enable image gallery popup",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "enable_thumbnails",
            "label": "Enable image thumbnails",
            "default": true
        },
        {
            "type": "header",
            "content": "Video Product"
        },
        {
            "type": "checkbox",
            "id": "video_product",
            "label": "Enable Video Product",
            "default": false,
            "info": "Please install app Metafields Guru and setting like Document"
        },
        {
            "type" : "header",
            "content" : "products review"
        },
        {
            "type": "checkbox",
            "id": "display_product_reviews",
            "label": "Enable Product Reviews?",
            "default": true
        },
        {
            "type" : "header",
            "content" : "products has been sold"
        },
        {
            "type" : "checkbox",
            "id" : "show_sold_in",
            "label" : "Enabled",
            "default" : true
        },
        {
            "type" : "textarea",
            "id" : "item_prd",
            "label" : "The number of products",
            "default" : "3,5,6,7,8,10,12,15"
        },
        {
            "type" : "text",
            "id" : "item_prds",
            "label" : "Text Sold in",
            "default" : "sold in last"
        },
        {
            "type" : "textarea",
            "id" : "hours_prs",
            "label" : "Hours",
            "default" : "10,15,16,17,18,20,25,35"
        },
        {
            "type" : "text",
            "id" : "item_hours",
            "label" : "Text Hours",
            "default" : "hours"
        },
        {
            "type": "header",
            "content": "Product vendor"
        },
        {
            "type": "checkbox",
            "id": "display_vendor",
            "label": "Enable Vendor?",
            "default": true
        },
        {
            "type": "header",
            "content": "Product SKU"
        },
        {
            "type": "checkbox",
            "id": "display_product_sku",
            "label": "Enable Product SKU?",
            "default": true
        },
        {
            "type": "header",
            "content": "Product Availability"
        },
        {
            "type": "checkbox",
            "id": "display_availability",
            "label": "Enable Availability?",
            "default": true
        },
        {
            "type": "header",
            "content": "Product Type"
        },
        {
            "type": "checkbox",
            "id": "display_product_type",
            "label": "Enable Product Type?",
            "default": false
        },
        {
          "type": "header",
          "content": "Progressbar"
        },
        {
            "type": "checkbox",
            "id": "display_progressbar",
            "label": "Enable Progressbar?",
            "default": true
        },
        {
            "type": "text",
            "id": "total_items",
            "label": "Total Items",
            "default": "100"
        },
        {
            "type": "text",
            "id": "min_items_left",
            "label": "Min Items Left",
            "default": "8"
        },
        {
            "type": "text",
            "id": "max_items_left",
            "label": "Max Items Left",
            "default": "26"
        },
        {
            "type": "color",
            "id": "progressbar_color",
            "label": "Progressbar Color",
            "default": "#ccc"
        },
        {
            "type": "color",
            "id": "progressbar_active_color",
            "label": "Progressbar Active Color",
            "default": "#ea3b02"
        },
        {
            "type": "header",
            "content": "Product Price"
        },
        {
            "type": "checkbox",
            "id": "display_price",
            "label": "Enable Price?",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "display_subtotal",
            "label": "Enable Subtotal?",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_quantity_selector",
            "label": "Show quantity selector",
            "default": true
        },
        {
            "type": "header",
            "content": "Product Short Description"
        },
        {
            "type": "checkbox",
            "id": "display_short_description",
            "label": "Enable Short description?",
            "default": true
        },
        {
            "type": "select",
            "id": "type_short_description",
            "label": "Choose Type Short description",
            "default": "default",
            "options": [
                {
                    "value": "default",
                    "label": "Default"
                },
                {
                    "value": "metafields",
                    "label": "Use Metafields App"
                }
            ]
        },
        {
            "type": "text",
            "id": "number_words",
            "label": "Number Words",
            "default": "16"
        },
        {
            "type": "header",
            "content": "Product Size Chart"
        },
        {
            "type": "checkbox",
            "id": "display_size_chart",
            "label": "Enable Size Chart?",
            "default": true
        },
        {
            "type": "text",
            "id": "size_guide_text",
            "label": "Size Guide Text",
            "default": "Size Guide"
        },
        {
            "type": "text",
            "id": "custom_size_chart_header",
            "label": "Header",
            "default": "Size Chart"
        },
        {
            "type": "image_picker",
            "id": "image_logo_sizechart",
            "label": "Upload image Logo",
            "info": "130 x 26px recommended"
        },
        {
            "type": "select",
            "id": "size_chart",
            "label": "Using different size charts for products by following",
            "options": [
            {
                "value": "none",
                "label": "All Product"
            },
            {
                "value": "product_vendor",
                "label": "Product Vendor"
            },
            {
                "value": "product_type",
                "label": "Product Type"
            },
            {
                "value": "different",
                "label": "Each of size chart for each of product"
            }],
            "default": "none",
            "info": "Default Value: All Products"
        },
        {
            "type": "image_picker",
            "id": "custom_size_chart",
            "label": "Size Chart Image",
            "info": "Select Image if you would like to show the same Size Chart for All Products"
        },
        {
            "type": "header",
            "content": "dynamic checkout button"
        },
        {
            "type": "checkbox",
            "id": "enable_payment_button",
            "label": "Show dynamic checkout button",
            "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
            "default": true
        },
        {
            "type" : "header",
            "content" : "Customers viewing"
        },
        {
            "type" : "checkbox",
            "id" : "dpl_customers_view",
            "label" : "Enable Customers viewing",
            "default" : true
        },
        {
            "type" : "text",
            "id" : "title_view",
            "label" : "Title",
            "default" : "customers are viewing this product"
        },
        {
            "type" : "textarea",
            "id" : "number_view",
            "label" : "Number of customers viewing",
            "default" : "283, 100, 59, 11, 14, 185, 193, 165, 50, 38, 99, 112, 46, 10, 125, 200, 250, 18",
            "info" : "Please enter the number"
        },
        {
            "type": "header",
            "content": "Product Share"
        },
        {
            "type": "checkbox",
            "id": "display_product_detail_share",
            "label": "Enable Product Share?",
            "default": true
        },
        {
            "type": "text",
            "id": "share_text",
            "label": "Share Text",
            "default": "Share"
        },
        {
            "type": "header",
            "content": "Product Trust Image"
        },
        {
            "type": "checkbox",
            "id": "display_trust_img",
            "label": "Enable Trust Image?",
            "default": true
        },
        {
            "type": "image_picker",
            "id": "img_trust",
            "label": "Image Trust"
        },
        {
            "type": "header",
            "content": "Sticky Add To Cart"
        },
        {
            "type": "checkbox",
            "id": "enable_sticky_atc",
            "label": "Enable Sticky Add To Cart",
            "default": true
        }
    ]
}
{% endschema %}
