{% include 'setting-spacing' %}

{% case section.settings.column %}
    {% when 1 %}
        {%- assign column = '1' -%}
    {% when 2 %}
        {%- assign column = '2' -%}
    {% when 3 %}
        {%- assign column = '3' -%}
    {% when 4 %}
        {%- assign column = '4' -%}
    {% when 5 %}
        {%- assign column = '5' -%}
{% endcase %}

{%- assign collection = collections[section.settings.collection] -%}
{%- assign carousel = carousel | default: section.settings.collection_layout -%}
{%- assign arrows = arrows | default: section.settings.carousel-arrows -%}
{%- assign dots = dots | default: section.settings.carousel-dots -%}
{% assign column1 = column1 | default: section.settings.column %}

{% if section.settings.custom_color %}
<style>
    [data-section-id='{{ section.id }}'] .section-header {
        color: {{ section.settings.color_heading_section }}
    }

    [data-section-id='{{ section.id }}'] .halo-collection-tab.tab-special > .text-link,
    [data-section-id='{{ section.id }}'] .halo-collection-tab.tab-special > .text-link:hover {
        color: {{ section.settings.color_link_section }};
        background-image: linear-gradient(transparent 97%, {{ section.settings.color_link_section }} 3%);
    }

    [data-section-id='{{ section.id }}'] .nav-tabs .nav-link {
        color: {{ section.settings.color_tab }}
    }

    [data-section-id='{{ section.id }}'] .nav-tabs .nav-link.active {
        color: {{ section.settings.color_tab_active }}
    }

    [data-section-id='{{ section.id }}'] .nav-tabs .nav-item:before {
        background-color: {{ section.settings.color_tab_border }}
    }
</style>
{% endif %}

<div class="halo-section section-product-with-banner {{ padding_top }} {{ padding_bottom }} {{ background_color }} {{ border-top }} {{ border-bottom }}" data-section-type="collection-tabs" data-section-id="{{ section.id }}">
    <div class="container">
        <div class="halo-collection-tab tab-special">
            {% if section.settings.text_link != blank %}
                <a class="text-link" href="{{ section.settings.custom_link }}" aria-label="link">
                    {{ section.settings.text_link }}
                </a>
            {% endif %}
            <ul class="nav nav-tabs" role="tablist" data-row="{{ section.settings.limit_product }}">
                <li class="nav-item">
                    <a class="nav-link active" href="#{{ section.id }}_sellers"  data-toggle="tab" role="tab" data-href="/collections/{{ section.settings.collection }}?view=json&sort_by={{ section.settings.tab_sort_by_1 }}" aria-label="link">
                        {{ section.settings.title_tab_sellers }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#{{ section.id }}_featured" data-toggle="tab" role="tab" data-href="/collections/{{ section.settings.collection }}?view=json&sort_by={{ section.settings.tab_sort_by_2 }}" aria-label="link">
                        {{ section.settings.title_tab_featured }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#{{ section.id }}_new" data-toggle="tab" role="tab" data-href="/collections/{{ section.settings.collection }}?view=json&sort_by={{ section.settings.tab_sort_by_3 }}" aria-label="link">
                        {{ section.settings.title_tab_new }}
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="{{ section.id }}_sellers" role="tabpanel">
                    <div class="halo-row halo-row-custom column-{{ column }} {% if carousel == 'carousel' %}collection-carousel{% else %}collection-grid1{% endif %}" 
                        {% if carousel == 'carousel' %}
                            data-slick='{
                                "dots": {{ dots }},
                                "arrows": {{ arrows }},
                                "infinite": false,
                                "mobileFirst": true,
                                "adaptiveHeight": true,
                                "slidesToShow": {{ column }},
                                "slidesToScroll": {{ column }},
                                "prevArrow": "<div class=&apos;slick-prev slick-arrow&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-left&apos; /></svg></div>", 
                                "nextArrow": "<div class=&apos;slick-next slick-arrow&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-right&apos; /></svg></div>",
                                "responsive": [
                                    {
                                        "breakpoint": 1100,
                                        "settings": {
                                            "slidesToShow": {{ column }},
                                            "slidesToScroll": {{ column }},
                                            "dots": {{ dots }},
                                            "arrows": {{ arrows }}
                                        }
                                    },
                                    {
                                        "breakpoint": 992,
                                        "settings": {
                                            "slidesToScroll": 3,
                                            "slidesToShow": 3,
                                            "arrows": false,
                                            "dots": true
                                        }
                                    },
                                    {
                                        "breakpoint": 551,
                                        "settings": {
                                            "slidesToScroll": 3,
                                            "slidesToShow": 3,
                                            "arrows": false,
                                            "dots": true
                                        }
                                    },
                                    {
                                        "breakpoint": 300,
                                        "settings": {
                                            "slidesToScroll": 2,
                                            "slidesToShow": 2,
                                            "arrows": false,
                                            "dots": true
                                        }
                                    }
                                ]
                            }'
                        {% endif %}>
                        <div class="halo-item-full halo-loading">
                            <img class="image_lazyload" src="{{ 'loading.svg' | asset_url }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="{{ section.id }}_featured" role="tabpanel">
                    <div class="halo-row halo-row-custom column-{{ column }} {% if carousel == 'carousel' %}collection-carousel{% else %}collection-grid1{% endif %}" 
                        {% if carousel == 'carousel' %}
                            data-slick='{
                                "dots": {{ dots }},
                                "arrows": {{ arrows }},
                                "infinite": false,
                                "mobileFirst": true,
                                "adaptiveHeight": true,
                                "slidesToShow": {{ column }},
                                "slidesToScroll": {{ column }},
                                "prevArrow": "<div class=&apos;slick-prev slick-arrow&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-left&apos; /></svg></div>", 
                                "nextArrow": "<div class=&apos;slick-next slick-arrow&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-right&apos; /></svg></div>",
                                "responsive": [
                                    {
                                        "breakpoint": 1100,
                                        "settings": {
                                            "slidesToShow": {{ column }},
                                            "slidesToScroll": {{ column }},
                                            "dots": {{ dots }},
                                            "arrows": {{ arrows }}
                                        }
                                    },
                                    {
                                        "breakpoint": 992,
                                        "settings": {
                                            "slidesToScroll": 3,
                                            "slidesToShow": 3,
                                            "arrows": false,
                                            "dots": true
                                        }
                                    },
                                    {
                                        "breakpoint": 551,
                                        "settings": {
                                            "slidesToScroll": 3,
                                            "slidesToShow": 3,
                                            "arrows": false,
                                            "dots": true
                                        }
                                    },
                                    {
                                        "breakpoint": 300,
                                        "settings": {
                                            "slidesToScroll": 2,
                                            "slidesToShow": 2,
                                            "arrows": false,
                                            "dots": true
                                        }
                                    }
                                ]
                            }'
                        {% endif %}>
                        <div class="halo-item-full halo-loading">
                            <img class="image_lazyload" src="{{ 'loading.svg' | asset_url }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="{{ section.id }}_new" role="tabpanel">
                    <div class="halo-row halo-row-custom column-{{ column }} {% if carousel == 'carousel' %}collection-carousel{% else %}collection-grid1{% endif %}" 
                        {% if carousel == 'carousel' %}
                            data-slick='{
                                "dots": {{ dots }},
                                "arrows": {{ arrows }},
                                "infinite": false,
                                "mobileFirst": true,
                                "adaptiveHeight": true,
                                "slidesToShow": {{ column }},
                                "slidesToScroll": {{ column }},
                                "prevArrow": "<div class=&apos;slick-prev slick-arrow&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-left&apos; /></svg></div>", 
                                "nextArrow": "<div class=&apos;slick-next slick-arrow&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-right&apos; /></svg></div>",
                                "responsive": [
                                    {
                                        "breakpoint": 1100,
                                        "settings": {
                                            "slidesToShow": {{ column }},
                                            "slidesToScroll": {{ column }},
                                            "dots": {{ dots }},
                                            "arrows": {{ arrows }}
                                        }
                                    },
                                    {
                                        "breakpoint": 992,
                                        "settings": {
                                            "slidesToScroll": 3,
                                            "slidesToShow": 3,
                                            "arrows": false,
                                            "dots": true
                                        }
                                    },
                                    {
                                        "breakpoint": 551,
                                        "settings": {
                                            "slidesToScroll": 3,
                                            "slidesToShow": 3,
                                            "arrows": false,
                                            "dots": true
                                        }
                                    },
                                    {
                                        "breakpoint": 300,
                                        "settings": {
                                            "slidesToScroll": 2,
                                            "slidesToShow": 2,
                                            "arrows": false,
                                            "dots": true
                                        }
                                    }
                                ]
                            }'
                        {% endif %}>
                        <div class="halo-item-full halo-loading">
                            <img class="image_lazyload" src="{{ 'loading.svg' | asset_url }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Product Tab",
    "class": "section-product-tab-sections",
    "settings": [
        {
            "type": "header",
            "content": "Section Layout"
        },
        {
            "type": "range",
            "id": "padding-top",
            "label": "Spacing Top",
            "default": 3,
            "min": 0,
            "max": 10,
            "step": 1
        },
        {
            "type": "range",
            "id": "padding-bottom",
            "label": "Spacing bottom",
            "default": 3,
            "min": 0,
            "max": 10,
            "step": 1
        },
        {
            "type": "header",
            "content": "Heading"
        },
        {
            "type": "text",
            "id": "text_link",
            "label": "Text Link",
            "default": "View all"
        },
        {
            "type": "url",
            "id": "custom_link",
            "label": "Link (Optional)"
        },
        {
            "type": "header",
            "content": "Collection"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        },
        {
            "type": "select",
            "id": "collection_layout",
            "label": "Layout",
            "default": "carousel",
            "options": [
                {
                    "value": "grid",
                    "label": "Grid"
                },
                {
                    "value": "carousel",
                    "label": "Carousel"
                }
            ]
        },
        {
            "type": "range",
            "id": "column",
            "label": "Column",
            "min": 1,
            "max": 5,
            "step": 1,
            "default": 4
        },
        {
            "type": "range",
            "id": "limit_product",
            "label": "Limit Product",
            "min": 1,
            "max": 20,
            "step": 1,
            "default": 6
        },
        {
            "type": "checkbox",
            "id": "carousel-arrows",
            "label": "show arrows (Layout carousel)",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "carousel-dots",
            "label": "show dots (Layout carousel)",
            "default": false
        },       
        {
            "type": "header",
            "content": "Tab Best Sellers"
        },
        {
            "type" : "text",
            "id" : "title_tab_sellers",
            "label" : "Title Tab",
            "default" : "Best Sellers"
        },
        {
            "type": "select",
            "id": "tab_sort_by_1",
            "label": "Sort By",
            "default": "best-selling",
            "options": [
                {
                    "value": "created-descending",
                    "label": "New Products"
                },
                {
                    "value": "best-selling",
                    "label": "Best Sellers"
                },
                {
                    "value": "manual",
                    "label": "Featured Products"
                }
            ]
        },
        {
            "type": "header",
            "content": "Tab Featured Products"
        },
        {
            "type" : "text",
            "id" : "title_tab_featured",
            "label" : "Title Tab",
            "default" : "Featured"
        },
        {
            "type": "select",
            "id": "tab_sort_by_2",
            "label": "Sort By",
            "default": "manual",
            "options": [
                {
                    "value": "created-descending",
                    "label": "New Products"
                },
                {
                    "value": "best-selling",
                    "label": "Best Sellers"
                },
                {
                    "value": "manual",
                    "label": "Featured Products"
                }
            ]
        },
        {
            "type": "header",
            "content": "Tab New Products"
        },
        {
            "type" : "text",
            "id" : "title_tab_new",
            "label" : "Title Tab",
            "default" : "Trend Now"
        },
        {
            "type": "select",
            "id": "tab_sort_by_3",
            "label": "Sort By",
            "default": "created-descending",
            "options": [
                {
                    "value": "created-descending",
                    "label": "New Products"
                },
                {
                    "value": "best-selling",
                    "label": "Best Sellers"
                },
                {
                    "value": "manual",
                    "label": "Featured Products"
                }
            ]
        },
        {
            "type": "header",
            "content": "Custom Color"
        },
        {
            "type": "checkbox",
            "id": "custom_color",
            "label": "Turn on custom color",
            "default": false
        },
        {
            "type": "color",
            "id": "color_link_section",
            "label": "Url Section Color"
        },
        {
            "type": "color",
            "id": "color_tab",
            "label": "Tab Title Color"
        },
        {
            "type": "color",
            "id": "color_tab_active",
            "label": "Tab Title Active Color"
        },
        {
            "type": "color",
            "id": "color_tab_border",
            "label": "Tab Border Color"
        }
    ],
    "presets": [
        {
            "name": "Product Tab Carousel/Grid",
            "category": "Products"
        }
    ]
}
{% endschema %}