{%- assign fadein = fadein | default: section.settings.show_fadein -%}
{%- assign autoplay = autoplay | default: section.settings.autoplay -%}
{%- assign time = time | default: section.settings.autorotate_speed | times: 1000 -%}

{% if section.settings.custom_color %}
    {% render 'customcolor_slideshow' %}
{% endif %}

<div class="halo-slideshow home-slideshow" data-section-id="{{ section.id }}" data-section-type="slideshow-section">
    <div class="slideshow"
        {% if section.blocks.size > 1 %}
            data-slick='{
                "rows": 0,
                "dots": false,
                "arrows": true,
                "fade": {{ fadein }},
                "autoplay": {{ autoplay }},
                "autoplaySpeed": {{ time }},
                "infinite": true,
                "adaptiveHeight": true,
                "slidesToScroll": 1,
                "mobileFirst": true,
                "prevArrow": "<div class=&apos;slick-prev slick-arrow&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-left&apos; /></svg></div>", 
                "nextArrow": "<div class=&apos;slick-next slick-arrow&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-right&apos; /></svg></div>"
            }'
        {% endif %}>
        {% for block in section.blocks %}
            {%- assign img_url = block.settings.image_slide | img_url: 'master' -%}
            <div class="item">
                
                <div class="slide-image">
                    {% if block.settings.image_slide == blank %}
                        <div class="placeholder-background">
                            <span class="recommended_size">1600x900</span>
                            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                        </div>
                    {% else %}
                        {% if forloop.index == 1 %}
                            <img class="image-background" src="{{ img_url }}" data-sizes="auto" alt="">
                        {% else %}
                            <img class="image-background lazyload" src="{{ 'loading.svg' | asset_url }}" data-src="{{ img_url }}" data-sizes="auto" alt="" data-image>
                        {% endif %}
                    {% endif %}
                </div>
                
                {% if block.settings.heading != blank or block.settings.description != blank %}
                    <div class="slide-content">
                        {%- if section.settings.image_ozen != blank -%}
                            <div class="bg-image-wrapper">
                                <img class="img-responsive" src="{{ section.settings.image_ozen | img_url: 'master' }}" data-sizes="auto" alt="{{ section.settings.image_ozen.alt | default: shop.name }}">
                            </div>
                        {%- endif -%}

                        <div class="slide-icons-wrapper">
                            {%- if section.settings.show_order_number == true -%}
                            <div class="slide-order-number hide-small-down">
                                {%- if forloop.index < 10 -%}
                                <span>{{ '0' | append: forloop.index }}</span>
                                {%- else -%}
                                <span>{{ forloop.index }}</span>
                                {%- endif -%}
                                {%- if section.blocks.size < 10 -%}
                                <span class="d_inline_block_medium_down">{{ '/ 0' | append: section.blocks.size }}</span>
                                {%- else -%}
                                <span class="d_inline_block_medium_down">{{ '/ ' | append: section.blocks.size }}</span>
                                {%- endif -%}
                            </div>
                            {%- endif -%}

                            {%- if block.settings.image_icon != blank -%}
                                <div class="icon-wrapper">
                                    <img class="img-responsive" src="{{ block.settings.image_icon | img_url: 'master' }}" data-sizes="auto" alt="{{ block.settings.image_icon.alt | default: shop.name }}">
                                </div>
                            {%- endif -%}
                        </div>

                        {%- if block.settings.heading != blank -%}
                            <div class="h2 slide-heading animated">
                                {{ block.settings.heading }}
                            </div>
                        {% endif %}

                        {%- if block.settings.description != blank -%}
                            <p class="slide-text animated">
                                {{ block.settings.description }}
                            </p>
                        {%- endif -%}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% schema %}
    {
        "name": "Home Slideshow",
        "max_blocks": 12,
        "settings": [
            {
                "type": "header",
                "content": "General"
            },
            {
                "type": "image_picker",
                "id": "image_ozen",
                "label" : "Select Ozen Image",
                "info": "Recommended Image: Width x Height (394 x 394)px"
            },
            {
                "type": "checkbox",
                "id": "show_order_number",
                "label": "Show Order Number",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "show_fadein",
                "label": "Effect Fade In",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "autoplay",
                "label": "Slideshow Auto Play",
                "default": true
            },
            {
                "type": "range",
                "id": "autorotate_speed",
                "label": "Change slides every",
                "max": 9,
                "min": 3,
                "step": 1,
                "unit": "s",
                "default": 5
            },
            {
                "type": "header",
                "content": "Custom Color"
            },
            {
                "type": "checkbox",
                "id": "custom_color",
                "label": "Turn on custom color",
                "default": false
            },
            {
                "type": "color",
                "id": "color_content_bg",
                "label": "Button 1 Text Color"
            },
            {
                "type": "color",
                "id": "color_heading",
                "label": "Heading Color"
            },
            {
                "type": "color",
                "id": "color_text",
                "label": "Description Color"
            },
            {
                "type": "color",
                "id": "color_order_number",
                "label": "Order Number Color"
            },
            {
                "type": "color",
                "id": "color_arrow",
                "label": "Button Arrows Color"
            },
            {
                "type": "color",
                "id": "color_arrow_border",
                "label": "Button Arrows Border Color"
            }
        ],
        "blocks" : [
            {
                "type": "image",
                "name": "Image SlideShow",
                "settings":[
                    {
                        "type": "header",
                        "content": "Image"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_slide",
                        "label" : "Select Image",
                        "info": "Recommended Image: Width x Height (1920 x 720)px"
                    },
                    {
                        "type": "header",
                        "content": "Content"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_icon",
                        "label" : "Select Icon",
                        "info": "Recommended Icon Image: Width x Height (72 x 72)px"
                    },
                    {
                        "type" : "textarea",
                        "id" : "heading",
                        "label" : "Heading",
                        "default" : "Milancelos"
                    },
                    {
                        "type" : "textarea",
                        "id" : "description",
                        "label" : "Description",
                        "default": "Pellentesque habitant morbi tristique senectus et netus de malesuada fames den turpis megetas."
                    }
                ]
            }
        ],
        "presets": [{
            "name": "Ozen Slideshow",
            "category": "Slideshow",
            "blocks": [
                {
                    "type": "image"
                }
            ]
        }]
    }
{% endschema %}
